:root {
  --color-surface: white;
  --color-solid: black;
  --color-primary: #1c4980;
  --color-primary-light: #8da4bf;
  --color-secondary: #0073e6;
  --color-secondary-light: #e5f1fc;
  --status-success: #05c165;
  --staus-important: #d63500;
  --staus-important-light: #fbebea;
  --border-color-primary: #dadce0;
  --border-color-secondary: #dde5ea;
  --border-color-tertiary: #bacbd5;
  --color-royal-blue: #3079e1;
  --color-accent-pink: #e9407a;
  --color-pastel-neon-blue: #6548ee;
  --background-primary: #f6f8fa;
  --background-secondary: #f2f8fe;
  --background-shadow: #1e1d1d9c;
  --background-primary-light: #ddedff;
}
html,
body {
  /* background: var(--color-surface);
  color: var(--color-solid); */
  color: var(--color-primary);
}

a,
p,
h1,
span {
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
  color: var(--color-primary);
}
