.assesment-overview__wapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in;
  flex-shrink: 0;
}

.assesment-overview__wapper.active {
  max-height: 100%;
}

.overview__wrapper {
  border: 1px solid var(--border-color-primary);
  border-radius: 12px;
  display: flex;
  gap: 1px;
  flex-direction: column;
  margin-bottom: 15px;
}

.overview__container {
  padding: 10px 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  flex-basis: 50%;
}

.overview__first-section {
  display: flex;
  gap: 1px;
  flex: 1 0 auto;
  border-bottom: 1px solid #dadce0;
}

.overview__total-wrapper {
  border-right: 1px solid #dadce0;
}

.overview__total-proposed {
  border-left: 1px solid #dadce0;
}

.overview__candidates {
  border: solid #dadce0;
  border-width: 1px 0;
}

.overview__cand-score {
  border-top: 1px solid #dadce0;
}
.overview__details {
  display: flex;
  gap: 10px;
}

.overview__heading-text {
  font-size: 14px;
  line-height: 1.4;
}

.overview__count {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

.overview__info-text,
.overview__recent {
  font-size: 10px;
  line-height: 1.4;
}

.overview__recent {
  color: var(--status-success);
  padding-left: 4px;
}

@media screen and (width >= 900px) {
  .overview__first-section {
    display: block;
    border: none;
  }

  .overview__candidates {
    border-width: 0 1px;
  }

  .overview__wrapper {
    flex-direction: row;
  }
}
